{% extends 'crm_website/base.html' %}

{% block content %}


<div class="container d-flex justify-content-center" style="padding-top: 60px;">
  {% if user.is_authenticated %}
  <h1>Hello World</h1>
  {% else  %}
    <div class="col-md-5">
    <h1 class="mb-4" style="color: #333; font-size: 2.5rem; font-weight: 600;">Login</h1>
    <form method="POST" action="{% url 'home' %}">
      {% csrf_token %}
      <div class="mb-3">
        <input type="text" class="form-control" name="user_name" placeholder="User Name" required>
      </div>
      <br/>
      <div class="mb-3">
        <input type="password" class="form-control" name="password" placeholder="password" required>
      </div>
      <button type="submit" class="btn btn-secondary">Login</button>
    </form>
  </div>
</div>
{% endif %}
{% endblock %}